<!-- Show page for a particular agency. -->
<h2 class='text-center'>The <%= @agency.name %> has killed:</h2>
<!-- Panels for each homicide. Split into rows of 4. Panels are collapsible. -->
<div class="panel-group">
  <% @agency.reports.each_slice(4) do |reports| %>
    <div class='row'>
      <div class='col-sm-3 col-xs-6 entry'>
        <% if reports[0] %>
          <%= render 'reports/report', object: reports[0] %>
        <% end %>
      </div>
      <div class='col-sm-3 col-xs-6 entry'>
        <% if reports[1] %>
          <%= render 'reports/report', object: reports[1] %>
        <% end %>
      </div>
      <div class='col-sm-3 col-xs-6 entry'>
        <% if reports[2] %>
          <%= render 'reports/report', object: reports[2] %>
        <% end %>
      </div>
      <div class='col-sm-3 col-xs-6 entry'>
        <% if reports[3] %>
          <%= render 'reports/report', object: reports[3] %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
