<div class='well well-lg col-xs-6'>
  <%= form_for @report do |f| %>
    <div class='row'>
      <div class='item top text-center'>
        <%= f.label :name, 'Name of Deceased' %><br>
        <%= f.text_field :name %>
      </div>
    </div>

    <div class='item row'>
      <%= f.label :state %>
      <%= f.select :state, Report::STATES, prompt: 'Pick one' %>
    </div>
    <div class='item row'>
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <div class='item row'>
      <%= f.label :incident_date %>
      <%= date_select :report, :incident_date, include_blank: true, start_year: 2000, end_year: Time.now.year, order: [:month, :day, :year] %>
    </div>
      <div class='text-center'>
        <%= f.submit 'Submit Report', class: 'btn btn-lg btn-success' %>
      </div>
  <% end %>
</div>
<sidebar class='col-xs-4'>
<p>In order to process your report we need the name of the deceased, as well as the city and state where the incident occured. If you aren't sure of the location or if the city isn't listed, please choose a nearby city. If you know the date please fill that in as well. However, the date will not be save unless you select a month, day, and year. If you are not sure of the exact date just fill in your best guess.</p>
<p>Note: This is not a functioning project, it is a exercise for a class. If you are interested in learning more about those killed by police please visit: <a href='http://www.killedbypolice.net/'>killedbypolice.net/</a></p>
</sidebar>
