<!DOCTYPE html>
<html>
<head>
  <title>Pikemen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- navbar -->
  <nav class='navbar navbar-default navbar-static-top'>
    <div class='container'>
      <div class='navbar-header'>
        <%= link_to "Project Pikemen", root_path, class: 'navbar-brand'%>
        <span class='nav navbar-text pull-left'>
          <% if user_signed_in? %>
            Logged in as:
            <%= current_user.username %>
          <% end %>
        </span>
<!-- button to cover links for smaller screens -->
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle Navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
      </div>
<!-- navbar links, log in/out dependant on if you're already signed in -->
      <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
        <li><%= link_to 'Report', new_report_path %></li>
        <li class='nav-divider'></li>
        <li><%= link_to 'See All', reports_path %></li>
        <li class='nav-divider'></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Validate', reports_check_path %></li>
          <li class='nav-divider'></li>
          <li><%= link_to('Log out', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to('Log in', new_user_session_path)  %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class='container'>
  <%= render 'shared/flash' %>
  <%= yield %>
  </div>
  <footer>
  <div class='container'>
  Code written by Douglas MacDonald for General Assembly WDI, Feb 12, 2015
  </div>
  </footer>
</body>
</html>
